<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h4 class="mb-3"> Inscripción Convocatoria</h4>
        <form [formGroup] = "documentoForm" (ngSubmit)="saveDocumento()"class="needs-validation" novalidate>

          <div class="row g-3">
            <div class="col-md-5">
                <label for="convocatoria" class="form-label"> Convocatoria Abierta</label>
                <select class="form-select" id="convocatoria" formControlName="convocatoria" required #convocatoria>
                  <option value="">Seleccione Convocatoria...</option>
                  <option value="1">Convocatoria 1</option>
                </select>
                <div class="invalid-feedback">
                  Please Seleccione Convocatoria.
                </div>
              </div>

              <div class="col-sm-5">
                <label for="codigoInscripcion"  class="form-label">Código Inscripción</label>
                <input type="text" class="form-control" (ngModelChange)="listDocumento()" id="codigoInscripcion" formControlName="codigoInscripcion" required #codigoInscripcion>
                <div class="invalid-feedback">
                    Por favor ingrese el codigo de su inscripción.
                </div>
              </div>

              <div class="col-md-5">
                <label for="tipoDocumento" class="form-label"> Tipo de Documento</label>
                <select class="form-select" id="tipoDocumento" formControlName="tipoDocumento" required #tipoDocumento>
                  <option value="" disabled selected hidden >Seleccione tipo documento</option>
                  <option *ngFor="let tipo of lTiposDocumento" [ngValue]="tipo.codigo">{{tipo.descripcion}}</option>
                </select>
                <div class="invalid-feedback">
                  Please Seleccione tipo documento.
                </div>
              </div>
              <div class="col-ms-5">
                <input type="file" (change)="onFileSelected($event)" formControlName="archivo" required #archivo>
                      <div *ngIf="uploadResponse">
                        <p>{{ uploadResponse.mensaje }}</p>
                        <label *ngIf="uploadResponse.error == 'NO'" >Archivo subido con exito!</label>
                      </div>
              </div>

          </div>  
          
          <hr class="my-4">            

          <button class="w-100 btn btn-primary btn-lg" type="submit">Subir Documento</button>
        </form>
    </div>
    <div class="col-md-4">
      <h2 class="mb-3"> ¡Estado de documentos!</h2>
      <div *ngFor="let ds of lDocumentosSubidos" class="input-group mb-3">
        <div class="input-group-prepend">
          <div *ngIf="ds.subido" class="input-group-text btn btn-success" id="btnGroupAddon2">
            <i class="bi bi-check-circle-fill"></i></div>
            <div *ngIf="!ds.subido" class="input-group-text btn btn-danger" id="btnGroupAddon2">
              <i class="bi bi-check-circle-fill"></i></div>
        </div>
        <input type="text" disabled="true" [(ngModel)]="ds.descripcion" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
      </div>
     
      
    </div>
  </div>

      <div class="row">
        <div class="col-md-12 order-md-2">  
            <div class="row">
              <h2 class="mb-3"> Lista de documentos</h2>
              <div class="table-responsive">
                <table [dataSource]="dataSource"  mat-table class="table table-sm" matSort>
                  
                  <ng-container matColumnDef="contenido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.contenido}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descTipodocumento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Tipo Documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.descTipodocumento}} </td>
                  </ng-container>

                 

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                

              </div>
            </div>
        </div>
      </div>
</div>
