<div class="container mt-4 mb-4">
  
    <div class="row ocultar-en-pantalla">
      <div class="col-md-12 mb-5">
        <h4 class="mb-4"> Resultados Requisitos Mínimos</h4>
          <form [formGroup] = "requisitosForm" class="needs-validation" novalidate>
           <div class="row g-3">
            <mat-form-field class="full-width">
                <mat-label>Perfiles</mat-label>
                <mat-select matInput [(value)]="selectedPerfil" id="codigoPerfil" (selectionChange)="buscarEvaluadosPerfil($event)" formControlName="codigoPerfil" 
                required #codigoPerfil>
                  <mat-option value="" disabled selected >Por favor Seleccione el perfil a consultar</mat-option>
                  <mat-option *ngFor="let perfil of lPerfiles" [value]="perfil.codigo">{{perfil.codigo}}</mat-option>
                </mat-select>
                <mat-error *ngIf="requisitosForm.controls['codigoPerfil'].hasError('required')">
                    Por favor Seleccione Perfil.
                </mat-error>
            </mat-form-field>
          </div>
          </form>
         
      </div>
    </div>
    <hr class="featurette-divider">
    <div *ngIf="loading" class="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
    <div *ngIf="mostrarNoResultados" class="row">
      <span>No se encontraron resultados para la consulta</span>
    </div>
    <div *ngIf="mostrarResultados" class="row">
        <div class="col-md-12 order-md-2 contenido-a-imprimir">  
            <div class="row">
              <h4 class="mb-3">Participantes Inscritos ({{totalInscripciones}})</h4>
                <div class="table-responsive">
                <table [dataSource]="dataSource"  mat-table class="table table-sm" matSort>                   
                  <ng-container matColumnDef="codigoInscripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Código Inscripción </th>
                    <td mat-cell *matCellDef="let element"><b>{{element.codigoInscripcion}}</b>  </td>
                  </ng-container>
                  <ng-container matColumnDef="did">
                    <th mat-header-cell *matHeaderCellDef>Documento de identidad</th>
                    <td mat-cell *matCellDef="let element"> {{element.did== true ? "SI" : "NO"}} </td>
                  </ng-container>
                  <ng-container matColumnDef="tpu">
                    <th mat-header-cell *matHeaderCellDef>Título Profesional Universitario</th>
                    <td mat-cell *matCellDef="let element"> {{element.tpu== true ? "SI" : "NO"}} </td>
                  </ng-container>
                  <ng-container matColumnDef="tmd">
                    <th mat-header-cell *matHeaderCellDef>Titulo Maestría y/o Doctorado</th>
                    <td mat-cell *matCellDef="let element"> {{element.tmd== true ? "SI" : "NO"}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ced">
                    <th mat-header-cell *matHeaderCellDef>Certificados de Experiencia Profesional/Docente</th>
                    <td mat-cell *matCellDef="let element"> {{element.ced== true ? "SI" : "NO"}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cci">
                    <th mat-header-cell *matHeaderCellDef>Certificados De Competencia En Lengua Inglesa</th>
                    <td mat-cell *matCellDef="let element"> {{element.cci== true ? "SI" : "NO"}} </td>
                  </ng-container>
                  <ng-container matColumnDef="adm">
                    <th mat-header-cell *matHeaderCellDef>ADMITIDO</th>
                    <td mat-cell *matCellDef="let element"> <b>{{element.adm== true ? "SI" : "NO"}}</b></td>
                  </ng-container>
                  <ng-container matColumnDef="observacion">
                    <th mat-header-cell *matHeaderCellDef>Observación</th>
                    <td mat-cell *matCellDef="let element">
                      <div class="row">
                        <div  class="col" matTooltip="Observacion">
                            <textarea [(ngModel)]="element.observacion" disabled="disable" rows="5" cols="30">
                            </textarea>
                      </div>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                </table>
              </div>
            </div>
        </div>
      </div>
</div>
