<div class="container mt-4 mb-4">
    <div class="row mb-5">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <div class="plogout no-mostrar-en-impresion"> <button type="button" (click)="logout()" class="btn btn-sm"><mat-icon>launch</mat-icon>Cerrar Sesion</button></div>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4 class="mb-4 no-mostrar-en-impresion"> Evaluación Competencias</h4>
      </div>
      <div class="col-md-7"></div>
      <div class="col-md-2">
        <button class="no-mostrar-en-impresion w-100 btn btn-primary-udc2 mb-4"  type="button" (click)="verConsolidado()">Ver Consolidado</button>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            
            <form [formGroup] = "evaluacionForm" class="needs-validation no-mostrar-en-impresion" novalidate>
             <div class="row g-3">
              <mat-form-field class="full-width">
                  <mat-label>Perfiles</mat-label>
                  <mat-select matInput [(value)]="selectedPerfil" id="perfil" (selectionChange)="buscarEvaluacionHV($event)" formControlName="codigoPerfil" 
                  required #perfil>
                    <mat-option value="" disabled selected >Seleccione perfil</mat-option>
                    <mat-option *ngFor="let sede of lPerfiles" [value]="sede.perfil">{{sede.perfil}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="evaluacionForm.controls['codigoPerfil'].hasError('required')">
                      Por favor Seleccione Perfil.
                  </mat-error>
              </mat-form-field>
            </div>
            </form>   
            <hr class="featurette-divider no-mostrar-en-impresion">
            <div *ngIf="mostrarNoResultados" class="row g-3">
              <span>No se encontraron resultados para la consulta</span>
            </div>
            <div *ngIf="mostrarResultados" class="row no-mostrar-en-impresion">
              <div class="col-md-12 order-md-2">  
                  <div class="row">
                    <h4 class="mb-3">Participantes ({{totalInscripciones}})</h4>
                      <div class="table-responsive">
                      <table [dataSource]="dataSource"  mat-table class="table table-sm" matSort>                   
                        <ng-container matColumnDef="nombres">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Nombres </th>
                          <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                        </ng-container>
                        <ng-container matColumnDef="apellidos">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Apellidos </th>
                          <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                        </ng-container>
                        <ng-container matColumnDef="codigoInscripcion">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Número Inscripción </th>
                          <td mat-cell *matCellDef="let element"> {{element.codigoInscripcion}} </td>
                        </ng-container>
                       
                        <ng-container matColumnDef="acciones">
                          <th mat-header-cell *matHeaderCellDef>Acciones</th>
                          <td mat-cell *matCellDef="let element">
                            <div class="row">
                              <div class="col">
                                <button mat-mini-fab class="primary" aria-label="preview"
                                  matTooltip="Evaluar Competencias" [matTooltipPosition]="'below'" (click)='verVerificador(element)'>
                                  <mat-icon>check_circle</mat-icon>
                                </button>
                              </div>
                              <div class="col">
                                <button mat-mini-fab class="primary" aria-label="preview"
                                  matTooltip="Consolidar Evaluacion" [matTooltipPosition]="'below'" (click)='verVerificadorPromedio(element)'>
                                  <mat-icon>assignment_returned</mat-icon>
                                </button>
                              </div>
                              <div class="col">
                                <button mat-mini-fab class="primary" aria-label="preview"
                                  matTooltip="Ver Evaluaciones" [matTooltipPosition]="'below'" (click)='verEvaluaciones(element)'>
                                  <mat-icon>assignment_turned_in</mat-icon>
                                </button>
                              </div>
                            </div>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                  </div>
                  
              </div>
              
            </div>
            <div *ngIf="mostrarResultados" class="row no-mostrar-en-impresion">
              <div class="table-responsive overflow-hidden">
                  <table [dataSource]="dataSourceIndividual"  mat-table class="table table-sm table-bordered" matSort>                   
                    <ng-container matColumnDef="identificacionEvaluador">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> IDENTIFICACION EVALUADOR </th>
                      <td mat-cell *matCellDef="let element"> {{element.cabeceraEvaluacion.identificacionEvaluador}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombreEvaluador">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>NOMBRE EVALUADOR</th>
                      <td mat-cell *matCellDef="let element"> {{element.cabeceraEvaluacion.nombreEvaluador}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalEvaluacion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> TOTAL EVALUACIÓN</th>
                      <td mat-cell *matCellDef="let element"> {{element.cabeceraEvaluacion.totalEvaluacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="observacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> OBSERVACIÓN </th>
                      <td mat-cell *matCellDef="let element"> {{element.cabeceraEvaluacion.observacion}} </td>
                    </ng-container>
                   
          
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsi"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsi;"></tr>
                  </table>
                </div>
          </div>
            <div *ngIf="parameters !=undefined" class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                  <div class="plogou no-mostrar-en-impresion"> <button mat-raised-button matTooltip="Seguir Evaluando" (click)='volver()'>Volver al listado</button></div>  
                </div> 
              <app-formato-competencias [parameters]="parameters"></app-formato-competencias>
              
  
            </div>

            <div *ngIf="parametersPro !=undefined" class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <div class="plogou no-mostrar-en-impresion"> <button mat-raised-button matTooltip="Seguir Evaluando" (click)='volver()'>Volver al listado</button></div>  
              </div> 
            <app-competencias-consolidadas [parameters]="parametersPro"></app-competencias-consolidadas>

          </div>
          <div *ngIf="listaPerfiles !=undefined" class="row">
            <app-competencias-resultados [listaPerfiles]="listaPerfiles"></app-competencias-resultados>
          </div>
        </div>
      </div>
  </div>
