<div class="container mt-4 mb-4">
  <div class="row">
    <table class="table-bordered table" >
              
      <tbody>
          <tr>
              <td class="text-center" colspan="2"><b>CALIFICACIÓN DE LA PRUEBA DE COMPETENCIAS ACADEMICAS</b></td>
          </tr>
          <tr>
              <td>NOMBRE DEL ASPIRANTE</td>
              <td>{{nombre}}</td>
          </tr>
          <tr>
              <td>CÓDIGO</td>
              <td>{{codigoinscripcion}}</td>
          </tr>
          <tr>
            <td>IDENTIFICACIÓN EVALUADOR</td>
            <td><input [disabled] ="deshabilitado" matInput [(ngModel)]="identificacionEvaluador" (input)="validarNumeros($event)" ></td>
        </tr>
        <tr>
          <td>NOMBRE EVALUADOR</td>
          <td><input [disabled] ="deshabilitado" matInput [(ngModel)]="nombreEvaluador" (input)="validarAlpha($event)"></td>
      </tr>
      </tbody>
  </table>
  <br><br>
  </div>
    <div class="row mb-5">
         <div class="table-responsive">
          <table [dataSource]="dataSource"  mat-table class="table table-sm table-bordered" matSort>                   
            <ng-container matColumnDef="idCompetencia">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.idCompetencia}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> COMPETENCIAS A EVALUAR </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="inferior">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> INFERIOR </th>
              <td mat-cell *matCellDef="let element"> {{element.inferior}} </td>
            </ng-container>
            <ng-container matColumnDef="medio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> MEDIO </th>
                <td mat-cell *matCellDef="let element"> {{element.medio}} </td>
              </ng-container>
              <ng-container matColumnDef="superior">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> SUPERIOR </th>
                <td mat-cell *matCellDef="let element"> {{element.superior}} </td>
              </ng-container>
              <ng-container matColumnDef="calificacionObtenida">
                <th mat-header-cell *matHeaderCellDef>Calificacion Obtenida</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row">
                    <div class="col">
                        <mat-select [(value)]="element.calificacionObtenida" [disabled] ="deshabilitado" (selectionChange)="calcularPonderado($event, element)" class="mi-mat-form-field" matInput>
                          <mat-option value="" disabled selected>Seleccione</mat-option>
                          <mat-option *ngFor="let es of escala" [value]="es.valor">{{es.texto}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="peso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>PESO PORCENTUAL</th>
                <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
              </ng-container>
              <ng-container matColumnDef="calificacionPonderada">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>CALIFICACIÓN PONDERADA</th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="row">
                        <div class="col">
                            <input matInput [(ngModel)]="element.calificacionPonderada" disabled="disable">
                        </div>
                    </div>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           
          </table>
          <table  class="table table-sm table-bordered">
              
            <tbody>
                <tr>
                    <td ><b>NOMBRE Y FIRMA DEL EVALUADOR:</b></td>
                   
                    <td >	<button type="button" [disabled] ="deshabilitado" class="no-mostrar-en-impresion" (click)="calcularTotal()">Calcular Total</button></td>
              
                    <td ><input matInput [(ngModel)]="calificacionTotal" disabled="disable"></td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
      <div class="row mb-5">
        <h3 class="no-mostrar-en-impresion"><b>PUNTAJE MÍNIMO ELEGIBLE 70/100</b></h3>
      </div>
      <div class="row mb-5">
        
        <h5 class="no-mostrar-en-impresion"><b>Observaciones:</b></h5>
        <textarea [disabled] ="deshabilitado" [(ngModel)]="observacion" name="mensaje" cols="40" rows="5"></textarea>
      </div>
      <div class="row mb-5">
        <button class="w-100 btn btn-primary-udc2 btn-lg mb-4" [disabled] ="deshabilitado" (click)="guardarEvaluacion()" type="submit">Guardar</button>
      </div>
</div>
