<div class="container mt-4 mb-4">
  <div class="row mb-5">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <div class="plogout no-mostrar-en-impresion"> <button type="button" (click)="logout()" class="btn btn-sm"><mat-icon>launch</mat-icon>Cerrar Sesion</button></div>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h4 class="mb-4 no-mostrar-en-impresion"> Verificación Hoja de Vida</h4>
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-2">
      <button class="no-mostrar-en-impresion w-100 btn btn-primary-udc2 mb-4"  type="button" (click)="verConsolidado()">Ver Consolidado</button>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
          
          <form [formGroup] = "requisitosForm" class="needs-validation no-mostrar-en-impresion" novalidate>
           <div class="row g-3">
            <mat-form-field class="full-width">
                <mat-label>Perfiles</mat-label>
                <mat-select matInput [(value)]="selectedPerfil" id="perfil" (selectionChange)="buscarInscripcion($event)" formControlName="codigoPerfil" 
                required #perfil>
                  <mat-option value="" disabled selected >Seleccione perfil</mat-option>
                  <mat-option *ngFor="let sede of lPerfiles" [value]="sede.perfil">{{sede.perfil}}</mat-option>
                </mat-select>
                <mat-error *ngIf="requisitosForm.controls['codigoPerfil'].hasError('required')">
                    Por favor Seleccione Perfil.
                </mat-error>
            </mat-form-field>
          </div>
          </form>   
          <hr class="featurette-divider no-mostrar-en-impresion">
          <div *ngIf="mostrarNoResultados" class="row g-3">
            <span>No se encontraron resultados para la consulta</span>
          </div>
          <div *ngIf="mostrarResultados" class="row no-mostrar-en-impresion">
            <div class="col-md-12 order-md-2">  
                <div class="row">
                  <h4 class="mb-3">Participantes Inscritos ({{totalInscripciones}})</h4>
                    <div class="table-responsive">
                    <table [dataSource]="dataSource"  mat-table class="table table-sm" matSort>                   
                      <ng-container matColumnDef="nombres">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Nombres </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                      </ng-container>
                      <ng-container matColumnDef="apellidos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Apellidos </th>
                        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                      </ng-container>
                      <ng-container matColumnDef="codigoInscripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Número Inscripción </th>
                        <td mat-cell *matCellDef="let element"> {{element.codigoInscripcion}} </td>
                      </ng-container>
                     
                      <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                          <div class="row">
                            <div class="col">
                              <button mat-mini-fab class="primary" aria-label="preview" [disabled]="disableDown"
                                matTooltip="Descargar Documentos" [matTooltipPosition]="'below'" (click)='downloadDocumentos(element)'>
                                <mat-icon>get_app</mat-icon>
                              </button>
                            </div>
                            <div class="col">
                              <button mat-mini-fab class="primary" aria-label="preview"
                                matTooltip="Verificar Requisitos" [matTooltipPosition]="'below'" (click)='verVerificadorRequisitos(element)'>
                                <mat-icon>check_circle</mat-icon>
                              </button>
                            </div>
                            <div class="col">
                              <button mat-mini-fab class="primary" aria-label="preview"
                                matTooltip="Verificar Hoja de Vida" [matTooltipPosition]="'below'" (click)='verVerificadorHv(element)'>
                                <mat-icon>check_circle</mat-icon>
                              </button>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
                </div>
                
            </div>
          </div>
          <div *ngIf="parameters !=undefined" class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <div class="plogou no-mostrar-en-impresion"> <button mat-raised-button matTooltip="Seguir Evaluando" (click)='volver()'>Volver al listado</button></div>  
              </div> 
            <app-hoja-vida [parameters]="parameters"></app-hoja-vida>
            

          </div>
          <div *ngIf="listaPerfiles !=undefined" class="row">
            <app-consolidado-hv [listaPerfiles]="listaPerfiles"></app-consolidado-hv>
          </div>
      </div>
    </div>
</div>
