<main>

    <div class="px-4 py-5 my-5 text-center">
      <!--<img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
      <h1 class="display-5 fw-bold text-body-emphasis">Convocatoria Docente</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Descripcion del portal</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" [routerLink]="'/convocatoria/participante'" class="btn btn-primary btn-lg px-4 gap-3">Registro Perfil</button>
          <button type="button" [routerLink]="'/convocatoria/documentos'" class="btn btn-outline-secondary btn-lg px-4">Subir Documentos</button>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="col-md-5">
          <button class="w-100 btn btn-primary btn-sm" (click)="downloadDocumento('Convocatoria2023.pdf')" type="button">Descargar Resolución</button>
        </div>
        <div class="col-md-5">
          <button class="w-100 btn btn-primary btn-sm" (click)="downloadDocumento('FormatoHV.pdf')" type="button">Descargar Formato Hoja de vida</button>
        </div>
      </div><br>
    </div>
</main>
